.list {
    background-color: grey;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 25%;
    height: 100%;
}

.room {
    position: center;
    top: 0px;
    left: 0px;
    width: 25%;
    height: 100%;
}

.messages {
	float: right;
	width: 65%;
	height: 100%;
  background-color: grey;
}

.form-inline {
  position:fixed;
  bottom:0;
  min-width: 0;
  width: auto;
  display: inline;
  background-color: light-blue;
}

